<div class="container center-align">
    <div style="margin-bottom: 100px">
        <a class="waves-effect waves-light btn" id="scrapeBtn">Scrape Article</a>
    </div>
</div>
<br>

<div class="container" style="margin-bottom:200px">

    <div id="displayResults">

    </div>

</div>